@charset "UTF-8";
html, body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    background-color: green;
    border: 1px solid black;
    padding: 15px;
    display: grid;
    grid-template-columns: 50px auto 10%;
    height: 25vh;
    grid-template-rows: 70% 30%;
    gap: 5px;

}
.container div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
